<!-- your html code here -->
<div class="row mb-5">
    <div class="col-12 d-flex justify-content-around px-5 bg-white p-5">
        <div class="">
            <h1>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nibh ac felis rhoncus rhoncus. Nulla tristique orci erat,
                 eu tristique arcu scelerisque non. Aliquam non nunc eget justo efficitur dapibus eget non ex. Null
            </p>
        </div>
        <div>
            <img src="./assets/img/1.jpg" class="rounded-circle ms-5" width="300" height="300" alt="Walter White">
        </div>
    </div>
</div>